.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  margin-left: 10px;
}
.logo-icon {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(141, 88, 3, 0.6);
  padding: 10px;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  text-align: center;
}
.logo-div h1 {
  border-bottom: 1px solid rgba(141, 88, 3, 0.6);
  font-size: 1rem;
}
.colored-letters {
  color: rgba(141, 88, 3, 0.6);
}
/* 
@media screen and (max-width: 750px) {
  .logo-icon {
    height: 1.6rem;
    width: 1.6rem;
  }
  .logo-div h1 {
    font-size: 0.8rem;
  }
} */
